/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
}


.audioGenre{
  cursor: pointer;
}

.container .text-muted {
  margin: 10px 0;
}

.audio-control{
 margin: 20px 0; 
}

.navbar-brand{
  font-size: 16pt;
}

.jumbotron{ 
  padding: 20px;
  border: solid 1px #bbb;
}

.edgeUp{
  margin-top: -5px;
}
